* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Shadows Into Light", cursive;
}
body {
    height: 100vh;
    background-image: url(../Img/ladrillovioleta.jpg);
    background-size: cover;
}
/* -----INDEX----- */

.grid_index {
    background-image: url(../Img/GameoverIndex.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* BOTON INDEX */
.div-btnIndex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnIndex {
    font-family: "Tourney", cursive;
    font-size: 40px;
    border: 0.5px solid #fff;
    margin-top: 2rem;
    background-color: #213ebe79;
    color: #fff;
    width: 300px;
}

.btnIndex:hover {
    background-color: #7d2883b7;
    transition: 2s;
}

header {
    background-image: url(../Img/izAv5U.gif);
    background-position: center;
    background-size: cover;
    height: 420px;
    clip-path: polygon(
        49% 2%,
        100% 2%,
        100% 66%,
        51% 78%,
        0 100%,
        0% 60%,
        0 2%
    );
}

.imagen-header {
    width: 450px;
    height: 450px;
    margin-left: 100px;
    margin-top: 250px;
}

.nav-container {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 35px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
}

.links:hover {
    background-color: black;
    transition: 2s;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-welcome {
    height: 300px;
}

/* FIN HEADER */

.letsplay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.img-letsplay {
    margin-left: 10px;
    width: 30%;
    clip-path: polygon(
        0% 20%,
        60% 20%,
        60% 0%,
        100% 50%,
        60% 100%,
        60% 80%,
        0% 80%
    );
}

.img-joistick {
    height: 200px;
    width: 40%;
}

.gameOver-img {
    height: 400px;
}

/* -----TARJETAS----- */

#tarjetas {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.producto {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(255, 255, 255, 0.3);
    /* color: #fff; */
    font-size: 22px;
    text-align: center;
    background-color: #fff;
}

.producto img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.btn {
    height: 50px;
    width: 70%;
    font-size: 20px;
    background-color: #4d0446;
}
.btn:hover {
    background-color: rgb(65, 23, 104);
    transition: 0.1s;
}

/* -----formulario----- */

.titulo__form {
    color: #fff;
    font-size: 60px;
    text-align: center;
}

.form__contenedor {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

/* ----- footer ----- */

footer {
    background-color: rgb(252, 249, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.div-footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__img {
    width: 250px;
}

.ul__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen__li {
    height: 50px;
}

.imagen__li:hover {
    background-color: blueviolet;
}

/* ------table------- */

.titulo-carrito {
    color: cornsilk;
    text-align: center;
    font-size: 50px;
}

.table {
    width: 500px;
    margin: 20px auto;
    background-color: rgb(3, 3, 3);
}

th {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
}

td {
    color: cornsilk;
    font-size: 20px;
    text-align: center;
}
