* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mate SC", serif;
}
body {
    height: 100vh;
    background-image: url(../Img/ladrillovioleta.jpg);
    background-size: cover;
}

/*  HEADER */

header {
    background-image: url(../Img/izAv5U.gif);
    background-position: center;
    background-size: cover;
    height: 420px;
    clip-path: polygon(
        49% 2%,
        100% 2%,
        100% 66%,
        51% 78%,
        0 100%,
        0% 60%,
        0 2%
    );
}

.imagen-header {
    width: 450px;
    height: 450px;
    margin-left: 100px;
    margin-top: 250px;
}

.nav-container {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
}

.links:hover {
    background-color: black;
    transition: 2s;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-welcome {
    height: 300px;
}

/* FIN HEADER */

.letsplay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.img-letsplay {
    margin-left: 10px;
    width: 30%;
    clip-path: polygon(
        0% 20%,
        60% 20%,
        60% 0%,
        100% 50%,
        60% 100%,
        60% 80%,
        0% 80%
    );
}

.img-joistick {
    height: 200px;
    width: 40%;
}

.gameOver-img {
    height: 400px;
}

/* -----CARDS----- */

.tarjetas {
    max-width: 1200px;
    margin: 60px auto;
}

.producto {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(255, 255, 255, 0.3);

    font-size: 22px;
    text-align: center;
    background-color: #fff;
}

.producto img {
    height: 400px;
    width: 100%;
    object-fit: fill;
}

.nombreJuego {
    font-size: 30px;
}

.precio {
    font-weight: bold;
}

.btn-cards {
    width: 100%;
    font-size: 40px;
    background-color: rgb(65, 23, 104);
    color: #fff;
}

.btn-cards:hover {
    background-color: rgb(97, 7, 182);
    transition: 0.2s;
}

/* carrito  */

#tittle-carrito {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.btn:hover {
    background-color: rgb(65, 23, 104);
    transition: 0.1s;
}

.btn-accion-sumar {
    color: #fff;
    width: 40px;
    margin: 3px;
    font-size: 20px;
    background-color: rgb(2, 131, 56);
    border: none;
}

.btn-accion-sumar:hover {
    background-color: rgb(4, 180, 78);
}

.btn-accion-restar {
    color: #fff;
    width: 40px;
    margin: 3px;
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    border: none;
}

.btn-carrito {
    color: #fff;
    margin: 3px;
    font-size: 20px;
}

.btn-carrito2 {
    color: #fff;
    margin: 3px;
    font-size: 20px;
    background-color: rgb(2, 131, 56);
    border: none;
}

.btn-carrito2:hover {
    background-color: rgb(2, 56, 24);
}

/* formulario */

.btn-enviar {
    height: 50px;
    width: 200px;
    font-size: 30px;
    background-color: #000000;
}
.btn-enviar:hover {
    background-color: rgb(46, 2, 87);
    transition: 0.2s;
}

.titulo__form {
    color: #fff;
    font-size: 60px;
    text-align: center;
}

.form__contenedor {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.btn-form {
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-size: 30px;
}

.titulo__modal-form {
    text-align: center;
}

.mensaje__modal-form {
    text-align: center;
    font-size: 20px;
}

.btn-modal {
    color: #fff;
    margin-left: 50px;
    background-color: rgb(65, 23, 104);
}
/* ------table------- */

.titulo-carrito {
    color: cornsilk;
    text-align: center;
    font-size: 50px;
}

.table {
    margin: 20px auto;
    background-color: rgb(3, 3, 3);
}

th {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
}

td {
    color: cornsilk;
    font-size: 20px;
    text-align: center;
}

/* -----MODAL ----- */

.modal-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal {
    width: 400px;
    padding: 16px;
    background-color: white;
    border-radius: 10px;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}
